<h2 class="mt-5">Lista de proyectos</h2>
<div class="proyectos row">
    <div class="col-3">
        <div class="proyecto col-3">
            <h4>NOMBRE</h4>
            <p>DESCRIPCION</p>
            <p>
                <a href="URL">URL proyecto</a>
            </p>
            <p>CLIENTE</p>
            <p>CATEGORIA</p>
        </div>
    </div>
</div>